*~
*.egg*
.coverage*
__pycache__
build/
data/

results/*
!results/hadisst/
!results/jra55/
!results/nnr1/

results/hadisst/*
!results/hadisst/indices/

results/hadisst/indices/*
!results/hadisst/indices/csv/

results/jra55/*
!results/jra55/indices/

results/jra55/indices/*
!results/jra55/indices/csv/

results/nnr1/*
!results/nnr1/indices/

results/nnr1/indices/*
!results/nnr1/indices/csv/

.DS_Store
.ipynb_checkpoints

*.aux
*.bbl
*.blg
*.fff
*.lof
*.log
*.out
*.pdf

slurm-*
